.logo {
  max-width: 700px;
  height: 42px;
  line-height: 42px;
  .logo-text {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 36px;
    color: #2077ff;
    font-weight: bold;
    // font-family: Helvetica, sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    position: relative;
    // margin-top: -42px;
    // margin-left: 70px;
  }
  .setimg {
    display: flex;
    width: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    width: 140px;
    .logo-text {
      font-size: 22px;
    }
  }
}
