
    .form {
      margin-top: 40px;
      padding: 40px 20px;
    }
    .formLabel {
      text-align: right;
      line-height: 1.7rem;
      padding-right: 10px;
    }
    .formRow {
      margin-bottom: 20px;
    }
    .formErrorWrapper {
      margin-top: 5px;
    }
  
    .buttonGroup {
      display: flex;
      justify-content: center;
      margin: 40px 0 0;
    }
  
    .select {
      display: flex;
      justify-content: center;
      // justify-content: space-between; 
      align-items: center;
      margin: 40px 0 0;
      // flex-direction: column;
    }

    .formTable {
      display: flex;
      justify-content: center;
      margin: 30px 0 0;
    }